*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;   
    background-color: hsl(235, 21%, 11%);
    font-size: 18px;
}
.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    z-index: -1;
}
.bgImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.container{
    width: 100%;
    max-width: 700px;
    margin: 0 30px;
    margin-top: 100px;
    color: aliceblue;
}

.header{
    display: flex;    
    justify-content: space-between;
    align-items: center;
}
.title{
    color:white;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
}
.newTodo{
    background-color: hsl(235, 24%, 19%);
    height: 70px;
    margin: 50px;
    border-radius: 6px;
    display: flex;
}
.check{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.checkmark{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid hsl(233, 14%, 35%);
}
.checkmark:hover{
    background-color: linear-gradient(134deg,#55DDFF, 0%, #C058F3,100%);
}
.newTodoInput{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.newTodoInput form{
    flex-grow: 1;
}
.newTodoInput input{
    width: 100%;
    padding: 10px 0px;
    background-color: transparent;
    border: none;
    outline: none ;
}
.newTodoInput input::placeholder{
    color: hsl(233, 14%, 35%);
}